<%- include ../Partials/header.ejs%>
<%- include ../Partials/main_nav.ejs%>
<!-- Content for Add Page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>
            <form class="form" method="POST">
                <div class="form-group">
                    <label for="Type_of_Fruit">Type of Fruit</label>
                    <input type="text" class="form-control" id="Type_of_Fruit" placeholder="Enter the Type of Fruit or Vegetable" name="Type_of_Fruit" required>
                </div>
                <div class="form-group">
                    <label for="Seeds">Seeds</label>
                    <input type="text" class="form-control" id="Seeds" placeholder="Does the Fruit you chose have seeds?" name="Seeds" required>
                </div>
                <div class="form-group">
                    <label for="Organic">Organic</label>
                    <input type="text" class="form-control" id="Organic" placeholder="Is the fruit you chose Organic?" name="Organic" required>
                </div>
                <div class="form-group">
                    <label for="Pounds">Pounds</label>
                    <textarea class="form-control" id="Pounds" placeholder="Enter the amount of pounds of fruit you want" name="Pounds" required></textarea>
                </div>
                <div class="form-group">
                    <label for="Cost">Cost</label>
                    <input type="number" class="form-control" id="Cost" placeholder="The cost of the fruit" name="Cost" required>
                </div>
                <button class="btn btn-primary" type="submit">Submit
                    <i class="fas fa-edit"></i>
                </button>
                <a href="/fruitlist" class="btn btn-warning">Cancel
                    <i class="fas fa-undo"></i>
                </a>   
            </form>
        </div>
    </div>
</div>

<%- include ../Partials/footer.ejs%>